.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(50, 50, 50, 0.5);
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-holder {
    background-color: #fff;
    width: 75%;
    height: 50%;
    position: relative;
    border: 1px solid #f7f7f7;
}

.modal-holder-name {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.modal-title-form {
    height: 15%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 1px solid rgb(238, 236, 236);;
}

.modal-title-container {
    padding: 20px 5px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 40%;
    height: 100%;
    margin: auto;
}

.modal-x-icon {
    position: absolute;
    margin: 0;
    top: -10px;
    right: -10px;
    color: white;
    background-color: #279af1;
    border-radius: 100%;
    padding: 4px 7px;
    cursor: pointer;
}

.modal-edit-icon {
    /* position: absolute; */
    cursor: pointer;
    width: 25px;
    padding-left: 5px;
    box-sizing: border-box;
    /* right: 10%; */
}

.modal-edit-icon:hover {
    color: #279af1;
}

.modal-delete-button {
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 90%;
    height: 15%;
    left: 5%;
    right: 5%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border-top: 1px solid rgb(238, 236, 236);
}

@media only screen and (max-width: 1000px) {
    .modal-delete-button {
        padding: 12px;
    }
    .delete-btn {
      font-size: small !important;
    }
  }



.delete-btn {
    border-radius: 0;
    color: white;
    background-color: #279af1;
    font-size: medium;
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #1480d2;
}

.modal-list {
    margin-left: 20%;
    margin-right: 20%;
    height: 70%;
    overflow-y: scroll;
}

.modal-entry {
    margin-bottom: 5%;
}

.modal-entry-date {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    font-weight: bold;
    font-size: medium;
}

.modal-table-header {
    font-weight: bold;
}

.modal-table-body {
}